@font-face {
    font-family: vazir;
    src: url("../fonts/vazir/Vazir-Medium.woff");
}

body{
    background-color: #0A192F;
    font-family: vazir;
}

.container{
    display:flex;
    margin:0px 40px;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 22px;
    background-color: #162A4D;
    box-shadow: 0px 0px 10px #fff;
    height: 60px;
    align-items: center;
    border-radius: 13px;
    margin: 10px 48px;
    position: fixed;
    z-index: 40;
    left: 0;
    right: 0;
}

nav div{
    display:  flex;
    flex-direction: row-reverse;
    align-items: center;
}

.list-item{
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
}

.item{
    margin-left: 10px;
    text-decoration: none;
    color: #8892B0; 
    font-family: vazir;
    transition: text-shadow 600ms, color 500ms;
}

.item:hover{
    color: #fff;
    text-shadow: 1px 1px 6px #00D1ff ;
}

.home{
    color: #E6F1FF;
    font-size: 17px;
}

#logo{
    font-family: sans-serif;
    font-weight: bold;
    color: #00D1FF;
}

.buttonNav{
    width: max-content;
    padding: 7px 5px;
    background-color: #00D1FF;
    border-radius: 7px;
    color: #fff;
    transition: all 500ms;
    box-shadow: 0px 0px 4px #0f7df3 ;
}

.buttonNav:hover{
    box-shadow: 0px 0px 7px #007bff ;
}

.search{
    background-image: url("../images/pngwing.com\ \(1\).png");
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #007bff;
    padding: 3px;
    box-shadow: 0px 0px 4px #00D1FF;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.item-search{
    background-color: rgba(10,25,47,0.7);
    border: 1px solid #6F42C1;
    border-radius: 7px;
    height: 40px;
}
.search-form{
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    background-color: rgba(10,25,47,0.7);
    width: 100%;
    margin-left: 2px;
    padding: 0;
}

.search-form input{
    background-color: rgba(10,25,47,0.7);
    border: none;
    outline: none;
    margin: 2px 0px;
    color: #00D1FF;
    text-shadow: 0px 0px 4px #0f7df3;
    font-family: vazir;
    font-size: 14px;
    padding-right: 5px;
    direction: rtl;
}

@media (max-width:900px) {
    .container{
        margin : 0px 21px
    }
    nav{
        padding: 0px 2px;
        margin: 10px 30px;
    }
    .list-item{
        display: none;
    }
    .item-search{
        width: 200px;
        height: 40px;
    }
    .search-form input{
        width: 157px;
    }
    .search-form{
        margin-left: 2px;
    }
}

.cart-hub{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    
}

.audio-cart{
    width: 229px;
    height: 290px;
    background-color: #162A4D;
    border:2px solid #8892B0;
    border-radius: 8px;
    margin-left: 5px;
    box-shadow: 0px 0px 6px #0f7df3;
    transition: box-shadow 400ms ease-in;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0px;
}

.audio-cart img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.audio-cart a{
    width: 100%;
    height: 100%;
}


.descript{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #e6f1ffd4;
    bottom: 0px;
    border-end-end-radius: 7px;
    border-end-start-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.descript a{
    text-decoration: none;
    color: #0A192F;
}



.noMargin{
    margin: 0;
    width: 100%;
}

.label{
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 30px;
}

.item-more{
    position: absolute;
    left: 0;
    top: -38px;
}

.item-more a{
    font-size: 20px;
    color: #E6F1FF;
    text-decoration: none;
    transition: all 300ms;
    position: relative;
    margin-left: 5px;
}

.un-line{
    width: 0%;
    bottom: 0;
    height: 0px;
    background-color: #E6F1FF;
    display: block;
    transition: width 400ms;
}

.item-more a:hover .un-line{
    width: 100%;
    height: 1px;
}

