@font-face {
    font-family: vazir;
    src: url("../fonts/vazir/Vazir-Medium.woff");
}

body{
    background-color: #0A192F;
    font-family: vazir;
    margin: 0px;
    padding: 0px;
}

.container{
    display:flex;
    margin:0px 48px;
    flex-direction: column;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 22px;
    background-color: #162A4D;
    box-shadow: 0px 0px 10px #fff;
    height: 60px;
    align-items: center;
    border-radius: 13px;
    margin: 10px 48px;
    position: fixed;
    z-index: 40;
    left: 0;
    right: 0;
}

nav div{
    display:  flex;
    flex-direction: row-reverse;
    align-items: center;
}

.list-item{
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
}

.item{
    margin-left: 10px;
    text-decoration: none;
    color: #8892B0; 
    font-family: vazir;
    transition: text-shadow 600ms, color 500ms;
}

.item:hover{
    color: #fff;
    text-shadow: 1px 1px 6px #00D1ff ;
}

.home{
    color: #E6F1FF;
    font-size: 17px;
}

#logo{
    font-family: sans-serif;
    font-weight: bold;
    color: #00D1FF;
}

.buttonNav{
    width: max-content;
    padding: 7px 5px;
    background-color: #00D1FF;
    border-radius: 7px;
    color: #fff;
    transition: all 500ms;
    box-shadow: 0px 0px 4px #0f7df3 ;
}

.buttonNav:hover{
    box-shadow: 0px 0px 7px #007bff ;
}

.search{
    background-image: url("../images/pngwing.com\ \(1\).png");
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #007bff;
    padding: 3px;
    box-shadow: 0px 0px 4px #00D1FF;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.item-search{
    background-color: rgba(10,25,47,0.7);
    border: 1px solid #6F42C1;
    border-radius: 7px;
    height: 40px;
}
.search-form{
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    background-color: rgba(10,25,47,0.7);
    width: 100%;
    margin-left: 2px;
    padding: 0;
}

.search-form input{
    background-color: rgba(10,25,47,0.7);
    border: none;
    outline: none;
    margin: 2px 0px;
    color: #00D1FF;
    text-shadow: 0px 0px 4px #0f7df3;
    font-family: vazir;
    font-size: 14px;
    padding-right: 5px;
    direction: rtl;
}

@media (max-width:900px) {
    .container{
        margin : 0px 21px
    }
    nav{
        padding: 0px 2px;
        margin: 10px 30px;
    }
    .list-item{
        display: none;
    }
    .item-search{
        width: 200px;
        height: 40px;
    }
    .search-form input{
        width: 157px;
    }
    .search-form{
        margin-left: 2px;
    }
}

.cart-hub{
    width: 100%;
    height: 305px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    padding-right: 2px;
}

.cart-hub > div{
    display: flex;
    flex-direction: row-reverse;
}

::-webkit-scrollbar{
    width: 5px;
    height: 3px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: #0A192F;
}

::-webkit-scrollbar-thumb{
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.audio-cart{
    width: 208px;
    height: 290px;
    background-color: #162A4D;
    border:2px solid #8892B0;
    border-radius: 8px;
    margin-left: 5px;
    box-shadow: 0px 0px 6px #0f7df3;
    transition: box-shadow 400ms ease-in;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    position: relative;
}

.audio-cart img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.audio-cart a{
    width: 100%;
    height: 100%;
}


.descript{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #b5b9bdd4;
    bottom: 0px;
    border-end-end-radius: 7px;
    border-end-start-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.descript a{
    text-decoration: none;
    color: #0A192F;
}



.noMargin{
    margin: 0;
    width: 100%;
}

.label{
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 30px;
    z-index: 0;
    position: relative;
}

.item-more{
    position: absolute;
    left: 0px;
}

.item-more a{
    font-size: 20px;
    color: #E6F1FF;
    text-decoration: none;
    transition: all 300ms;
    position: relative;
}

.un-line{
    width: 0%;
    bottom: 0;
    height: 0px;
    background-color: #E6F1FF;
    display: block;
    transition: width 400ms;
}

.item-more a:hover .un-line{
    width: 100%;
    height: 1px;
}

.margin90t{
    margin-top: 90px !important;
}

@media (max-width:530px){
    .audio-cart{
        width: 166px;
        margin: 2px;
        height: 240px;
    }
    .container{
        margin-right: 10px;
    }

    .cart-hub{
        height: 260px;;
    }
    .item-search{
        display: none;
    }
    nav{
        margin:10px 10px;
    }
}


.detail-div{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #022152;;
    border-radius: 8px;
    border: 2px solid #6F42C1;
    box-shadow: 0px 0px 5px #007bff;
}

.container-center{
    align-items: center;
}

.image-detail{
    width: 63%;
    height: 470px;
    border-radius: 8px;
    border: 2px solid #007bff;
    box-shadow: 0px 0px 5px #00D1ff;
    position: relative;
    display:flex;
    justify-content: center;
}

.image-detail img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.container-row{
    display: flex;
    flex-direction: row;
}

.comments-hub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-height: 700px;
    overflow-y: auto ;
    background-color: #022152;
    margin-left: 10px;
    border-radius: 8px;
    color: white;
    position: relative;
    padding-top: 10px;
    overflow-x: hidden;
    z-index: 10;
}

.audio-more{
    width: 420px;
    height: 470px;
    display: flex;
    background-color: #022152;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex-direction: column;
    align-items: center;
}

.audio-player {
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.play-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider {
    width: 100px;
    cursor: pointer;
}

.audio-more span{
    padding: 10px 5px;
    background-color: #0f7df3;
    color: #fff;
    display: inline-block;
    text-align: right;
    border-radius: 5px;
    margin-top: 20px;

}



.audio-name h1{
    font-size: 15px;
    padding: 0;
    font-weight: 400;
    margin: 0;
}

.descripe-detail{
    width: 80%;
    height: 400px;
    background-color: #0e447e;
    border-radius: 5px;
    padding: 10px;
    color: #E6F1FF;
}

.comments-hub > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-sm{
    width: 90%;
    height: 130px;
    min-height: 130px;
    max-height: 170px;
    background-color: #0e447e;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}

.comment-sm > div{
    color: #eee;
    font-size: 17px;
    text-align: left;
    margin-left: 5px;
}

.comment-sm >p{
    margin: 5px 3px 0px 8px;
    color: #888;
}

@media (max-width:737px){
    .container-row{
        flex-direction: column;
    }
    .comments-hub{
        margin: 0;
        margin-top: 10px;
        width: 100%;
        height: 200px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .comments-hub >div{
        flex-direction: row;
        margin-left: 5px;
        min-width: 100%;
    }
    .comment-sm{
        width: 270px;
        margin-left: 5px;
    }
}

@media (max-width:604px){
    .detail-div{
        flex-direction: column;
        padding-top: 10px;
        width: 100%;
    }
    .descripe-detail{
        width: auto;
        min-width: 300px;
    }
    .audio-more{
        width: auto;
    }
    .image-detail {
        width: 90%;
    }
    .container-row{
        align-items: center;
    }
}

.btn{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

.n-comment{
    color: #fff;
    background-color: #4CAF50;
    border-radius: 50%;
    font-size: 25px;
    padding: 0px 13px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}


.form-hub{
    display: flex;
    flex-direction: column;
    background-color: #1E3A8A;
    min-width: 300px;
    min-height: 400px;
    margin-top: 30px;
    border-radius: 7px;
    border: 2px solid #00D1FF;
    box-shadow: 0px 0px 6px #0f7df3;
    align-items: center;
}

.form-hub > p{
    font-size: 28px;
    color: #f5f5f5
}

.form-hub > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-hub input{
    margin-bottom: 10px;
    width: 280px;
    height: 30px;
    outline: none;
    border: 2px solid #007bff;
    box-shadow: 0px 0px 5px #0f7df3;
    border-radius: 5px;
    font-family: monospace;
    font-size: 17px;
}

.btn-primary{
    padding: 7px 20px;
    background-color: #0f7df3;
    color: #E6F1FF;
    font-family: vazir;
    font-size: 17px;
    transition: all 500ms;
}

.btn-primary:hover{
    background-color: #E6F1FF;
    color: #0f7df3;
    box-shadow: 0px 0px 5px #007bff;
}

.form-hub > div{
    margin-top: 15px;
    color: #d5d1d1;
}

.form-hub a{
    color: #fff;
    text-decoration: none;
}

.logout{
    background-color: #0e447e;
    border:1px solid #007bff;

}