{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="margin-top: 90px;" class="container noMargin">

        <div class="label"> جدید ترین</div>
        <div class="cart-hub">
                
                {% for audio in audios %}
                <div class="audio-cart">
                    <a href="#"><img src="{{audio.image.url}}" alt="img"></a>
                    <div class="descript">
                        <span><a href="/" class="name">{{audio.name}}</a></span>
                        <span><a href="/">{{audio.singer}}</a></span>
                    </div>
                </div>
                {% endfor %}
                    
                <span class="item-more"><a href="#">بیشتر <span class="un-line"></span></a></span>
            
        </div>
        <div class="label">رمیکس</div>
        <div class="cart-hub">
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <div class="audio-cart">
                    <a href="#"><img src="" alt="img"></a>
                    <div class="descript">
                        <span><a href="" class="name">Name</a></span>
                        <span><a href="">author</a></span>
                    </div>
                </div>
                <span class="item-more"><a href="#">بیشتر <span class="un-line"></span></a></span>
        </div>
    </div>

{% endblock content %}
    