{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Musicutt</title>
</head>
<body>
    
        <nav>
            <div id="logo">Musicutt</div>
            <div>
                <ul class="list-item">
                    <li><a href="{% url 'music:home' %}" class="item home">خانه</a></li>
                    <li><a href="{% url 'music:categories' %}" class="item">دسته بندی ها</a></li>
                    <li><a href="#" class="item">پلی لیست</a></li>
                    <li><a href="#" class="item">درباره ما</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="item buttonNav logout">Logout</a></li> 
                    {% else %}
                        <li><a href="{% url 'login'  %}" class="item buttonNav">ثبت نام | ورود</a></li>
                    {% endif %}
                </ul>
                <div class="item-search"><form class="search-form" action=""><input type="text" placeholder="جستوجوی آهنگ,هنرمند"><button class="search"></button></form></div>
            </div>
        </nav>
    <div class="container" style="z-index: -10;">

        {% block content %}
        
        {% endblock content %}
    </div>

</body>
</html>